{% extends 'base.html' %}

{% block title %} About Recipes {% endblock %}


{% block body %} 
{% block pageDescription %}
<meta name="description" content="About HawkRecipes Web Application" /> {% endblock %}

<h1 style="color: orange;">About HawkRecipes</h1>

<p>HawkRecipes is a online recipes website. The service primarily distrubutes recipes by HyVee. </p>
<p>We are happy to provide you with different types of food recipes to facilitate your daily grocery shopping in HyVee! </p>



{% endblock %}